* {
  margin: 0;
  box-sizing: border-box;
}

button {
  width: 200px;
  height: 70px;
}

main {
  max-width: 480px;
  height: 100vh;
  margin: 0 auto;
}

section {
  height: calc(100vh/3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
 text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
}

.container__tiles{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.btn__start {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.btn__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.btn__reset {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}